@charset "UTF-8";

.button {
	
	padding: 8px 20px;
	font-size: 16px;
	color: white;
	background-color: black;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	float:right;
}

.table {
	text-align: center;
}

body {
	margin-top:100px;
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.board_css {
	width: 864px;
}